@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <br />
        @Body
        
    </div>
    <footer>
        <div class="row d-flex" style="justify-content:center">
            <h3 style="color:aliceblue;font-family:'Segoe UI'"> #STAY AT HOME</h3>
        </div>
    </footer>
</div>
